@import "partials/navbar";  /*Estilos para las navbars*/
@import "partials/texts";   /*Estilos para cuadros de texto*/
@import "partials/cards";   /*Estilos para tarjetas de productos y servicios*/

a{
    text-decoration: none !important;
}
footer{
    line-height: 0.8vw;
    padding: 1%;
}
@mixin fontForIcons ($size){
    font-size: $size;
    line-height: 4vw;
}

.social i{
    @include fontForIcons(xx-large);
    margin-right: 1em;
    margin-top: 1em;
}
