.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $inactivo;
            padding-inline: 1vw;
            font-size: large;
            transform: translateX(-5vw);
            &:hover{
                color: $inactivo;
                font-weight: bolder;
            }
        }
        .active{
            color: $activo !important;
        }
    }
}